<nav
  class="navbar navbar-dark navbar-expand-lg navbar-light bg-light shadow-sm fixed-top"
>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cases']">Cases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <app-theme></app-theme>
      </ul>
    </div>
  </div>
</nav>
